	
	<table>
      <tr>
        <td><a href="/">Home</a></td>
        <td><a href="/teacher">Teachers</a></td>
        <td><a href="/student">Students</a></td>
        <td><a href="/subject">Subjects</a></td>
        <td><a href="/user">Add User</a></td>
        <td><a href="/logout">Logout</a></td>

      </tr>
    </table>