<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>SCHOOL APP</title>
  </head>
  <body>
    <h1>LOGIN</h1>
    <%if(err){%>
    <%=err%>
    <%}%>
    <form action="/login" method="post">
      Username:<br>
      <input type="text" name="username">
  <br>
  Password:<br>
  <input type="password" name="password">
  <br><br>
  <input type="submit" value="Submit">
</form> 
  </body>
</html>